* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.svg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    font-family: Verdana, sans-serif;
}

.logo-container {
    padding: 0;
    margin-top: 1rem;
    justify-content: flex-start;
}
#logo {
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: clamp(0.5rem, 1.5rem, 2rem);
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.bucketlistcontainer {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #790907, #042163);
    padding: 0.8rem;

}

.bucketlist-page {
    width: 100%;
    max-width: 80%;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.bucketlist-page h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 1.9rem;
    margin-bottom: 1.5rem;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 0.6rem;
}

.bucketbutton {
    border: none;
    outline: none;
    padding: 1rem 3rem;
    background: #ff5945;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 2.1rem;
    height: auto;
    max-width: 100%;
}

#list-container li {
    list-style: none;
    font-size: 1rem;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
#list-container li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 0.5rem;
    left: 0rem;
}
#list-container li.checked {
    color: #555;
    text-decoration: line-through;
}
#list-container li.checked::before {
    background-image: url(checked.png);
}
#list-container li span {
    position: absolute;
    top: 0rem;
    right: 0;
    width: 3rem;
    height: 3rem;
    font-size: 1.25rem;
    color: #555;
    line-height: 2.5rem;
    text-align: center;
    border-radius: 50%;
}
#list-container li span:hover {
    background: #edeef0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 100%;
}
nav ul li {
    height: 4.7rem;
}
nav ul li a {
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
}
nav ul li a:hover {
    background-color: red;
}
nav ul li a.active {
    background-color: red;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20rem;
    z-index: 999;
    background-color: #3d0101aa;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}
.sidebar a:hover {
    background-color: #2e0202;
}
.menu-button {
    display: none;
}

@media (max-width: 768px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
    .sidebar {
        width: 100%;
        transition: width 0.5s ease;
        
    }
}

