* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.svg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.logo-container {
    padding: 0;
    margin-top: 1rem;
    justify-content: flex-start;
}
#logo {
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: clamp(0.5rem, 1.5rem, 2rem);
    margin-left: 1rem;
    margin-bottom: 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-container {
    color: white;
    height: 10rem;
    width: 30rem;
    margin: 5rem auto 0 auto;
    text-align: center;
}

#welcomeh {
    margin-top: 1rem;
    font-size: clamp(1rem, 2.5rem, 3rem);
}
#welcomep1 {
    margin-top: 0.5rem;
    font-size: clamp(0.5rem, 1rem, 1.5rem);
}
#welcomep2 {
    margin-top: 2rem;
    font-size: clamp(0.5rem, 1rem, 1.5rem);
    margin-left: 2rem;
    margin-right: 2rem;
}

main img {
    margin-top: 3rem;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    width: 100%;
}
nav ul li {
    height: 4.7rem;
}
nav ul li a {
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}
nav ul li a:hover {
    background-color: red;
}
nav ul li a.active {
    background-color: red;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20rem;
    z-index: 999;
    background-color: #3d0101aa;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}
.sidebar a:hover {
    background-color: #2e0202;
}
.menu-button {
    display: none;
}

@media (max-width: 768px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
    .sidebar {
        width: 100%;
    }
}




/* index css */

body#bodyi {
    font-family: Arial, sans-serif;
    background-image: url(background.svg);
    background-repeat: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

h2#h2i {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: rgb(104, 0, 0);
}

/* From Uiverse.io by mrhyddenn */ 
button#butti {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: white;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    float: right;
  }
  
  button#butti{
    background: black;
    box-shadow: 0 0 25px rgb(255, 0, 0);
  }
  
  button#butti:hover {
    background-color: red;
  }

.error {
    color: red;
    margin-top: 10px;
}
